.return-icon2 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}
.return-instance-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.coming-soon2 {
  text-decoration: none;
  position: relative;
  line-height: 1.75rem;
  color: inherit;
  display: inline-block;
  min-width: 2.313rem;
}
.tags-left2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logomark-icon2 {
  height: 3.631rem;
  width: 3.494rem;
  position: relative;
}
.logotype-icon2 {
  align-self: stretch;
  height: 1.306rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logotype-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base-3);
}
.logomark-container {
  width: 14.338rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg-9);
}
.logo-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.nested-navigation-item,
.tags-left-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tags-left-container {
  width: 29.65rem;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.nested-navigation-item {
  align-self: stretch;
  flex-direction: row;
}
.do-you-still1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
}
.please-allow-60-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--base-base-text-size);
  line-height: 1.75rem;
  color: var(--dark-text-dark-text-100);
}
.do-you-still-need-us-to-resend-parent,
.resend-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.do-you-still-need-us-to-resend-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.resend-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.success-icon {
  width: 1rem;
  height: 1rem;
  position: relative;
}
.success-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.your-message-is {
  width: calc(100% - 36px);
  border: 0;
  outline: 0;
  font-family: var(--xs-xsmall-text);
  font-size: var(--xs-xsmall-text-size);
  background-color: transparent;
  height: 1.125rem;
  flex: 1;
  position: relative;
  line-height: 1.125rem;
  color: var(--accent-colors-success-success1100);
  text-align: left;
  display: inline-block;
  min-width: 6.25rem;
  padding: 0;
}
.alerts,
.register-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.register-button {
  width: 12.875rem;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 0.25rem;
}
.alerts {
  align-self: stretch;
  flex: 1;
  background-color: var(--accent-colors-success-success100);
  border-bottom: 2px solid var(--accent-colors-success-success400);
  padding: var(--padding-base) var(--padding-xs);
}
.register-now3 {
  position: relative;
  line-height: 1.75rem;
  display: inline-block;
  min-width: 5.688rem;
}
.arrow-forward-icon3 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  display: none;
}
.primary-large3 {
  align-self: stretch;
  background-color: var(--dark-text-dark-text-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.if-you-need2,
.join-a-community3 {
  align-self: stretch;
  position: relative;
  line-height: 1.75rem;
}
.menu-item {
  width: 0.063rem;
  height: 0.125rem;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--primary-primary600);
  opacity: 0;
}
.menu3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.if-you-need-further-assistance-group,
.menu-container1,
.menu3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-container1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  color: var(--white-bg-white-bg-3);
}
.if-you-need-further-assistance-group {
  width: 13.5rem;
  flex-direction: column;
}
.alert-container,
.assistance-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.assistance-container {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  color: var(--dark-text-dark-text-100);
}
.alert-container {
  height: 14.125rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--base-base-text-size);
  color: var(--dark-text-dark-text-400);
}
.resend-container-parent {
  width: 27.438rem;
  align-items: flex-start;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--display-d5-size);
  color: var(--white-bg-white-bg-2);
}
.navigation-item,
.navigation-sub-item,
.resend-container-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.navigation-sub-item {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-84xl-9);
}
.navigation-item {
  width: 34.75rem;
  align-items: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  min-width: 34.75rem;
}
.navigation-container-child {
  height: 51.25rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 28.625rem;
}
.navigation-container {
  width: 88.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-118xl);
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--base-base-text-size);
  color: var(--white-bg-white-bg-1);
  font-family: var(--xs-xsmall-text);
}
.password-change-item {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  backdrop-filter: blur(13px);
  background-color: var(--color-gray-100);
  flex-shrink: 0;
}
.password-change2 {
  width: 100%;
  height: 51.25rem;
  position: relative;
  background-color: var(--black-bg-black-bg-3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2191xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .navigation-item {
    flex: 1;
  }
  .navigation-container {
    flex-wrap: wrap;
    gap: var(--gap-49xl);
  }
  .password-change2 {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .do-you-still1 {
    font-size: var(--font-size-7xl);
    line-height: 2.375rem;
  }
}
@media screen and (max-width: 750px) {
  .navigation-sub-item {
    gap: var(--gap-33xl);
  }
  .navigation-container-child,
  .navigation-item {
    min-width: 100%;
  }
  .navigation-container {
    gap: var(--gap-15xl);
  }
  .password-change2 {
    gap: var(--gap-1086xl);
  }
}
@media screen and (max-width: 450px) {
  .do-you-still1 {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .alert-container {
    gap: var(--gap-base);
  }
  .resend-container-parent {
    gap: var(--gap-xl);
  }
  .navigation-sub-item {
    gap: var(--gap-7xl);
  }
  .navigation-container {
    gap: var(--gap-mid);
  }
  .password-change2 {
    gap: var(--gap-533xl);
  }
}
