{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
  </head>
  <body>
    <div class="sign-up">
      <div class="sign-up-inner">
        <form class="frame-parent">
          <div class="frame-wrapper">
            <div class="frame-group">
              <div class="sign-up-wrapper">
                <a class="sign-up1">Login</a>
              </div>
              <div class="join-the-fun">
                Join the fun, kick some digital butt. Welcome to your virtual
              playground
              </div>
            </div>
          </div>

          <div class="alt-login-parent">
            <div class="alt-login">
              <a class="google" href="">
                  <img
                    class="google-jpeg"
                    loading="lazy"
                    alt=""
                    src="{% static 'assets/images/public/google-icon.svg' %}"
                    style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem;"
                  />
                <span class="google1">Continue with Google</span>
              </a>
            </div>

            <div class="alt-login">
              <a class="google" href="">
                <img
                  class="google-jpeg"
                  loading="lazy"
                  alt=""
                  src="{% static 'assets/images/public/twitch-icon.svg' %}"
                  style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem;"
                />
              <span class="google1">Continue with Twitch</span>
            </a>
            </div>

          </div>

          <div class="or-wrapper">
            <h1 class="or">OR</h1>
          </div>

          <div class="frame-container">
            <div class="instance-parent">
              <div class="frame-div">
                <div class="group-div">
                  <div class="name-parent">
                    <b class="name">Email</b>
                    <input class="input-field" placeholder="Email" type="text" />
                  </div>
                </div>
              </div>
              <div class="frame-wrapper1">
                <div class="frame-wrapper2">
                  <div class="name-group">
                    <b class="name1">Password</b>
                    <input class="input-field" placeholder="Password" type="text" />
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="frame-wrapper5">
            <div class="primary-large-parent">
              <button class="primary-large">
                <div class="register-now-parent">
                  <div class="register-now">Login</div>
                  <img
                    class="arrow-forward-icon"
                    alt=""
                    src="{% static 'assets/images/public/arrow-forward.svg' %}"
                  />
                </div>
              </button>

              <div class="frame-wrapper6">
                <div class="frame-parent1">
                  
                  <div class="already-have-an-account-wrapper">
                    <div class="already-have-an">Don't have an account?</div>
                    <a class="join-a-community" href="{% url 'register' %}">Register</a>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <img
        class="sign-up-child"
        loading="lazy"
        alt=""
        src="{% static 'assets/images/public/rectangle-45@2x.png' %}"
      />
    </div>
  </body>
</html>