{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/password-change.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="password-change">
      <section class="password-change-wrapper">
        <div class="password-change-content">
          <div class="password-change-form">
            <div class="password-change-form-inner">
              <div class="tags-left-parent">
                <div class="tags-left" id="tagsLeftContainer">
                  <div class="return-button-wrapper">
                    <img
                      class="return-icon"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/return.svg' %}"
                    />
                  </div>
                  <a class="coming-soon">Back</a>
                </div>
                <div class="frame-wrapper2">
                  <div class="logomark-parent">
                    <img
                      class="logomark-icon"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/logomark.svg' %}"
                    />

                    <div class="logotype-wrapper">
                      <img
                        class="logotype-icon"
                        loading="lazy"
                        alt=""
                        src="{% static 'assets/images/public/logotype.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent2">
              <div class="frame-parent3">
                <div class="recover-your-password-wrapper">
                  <h1 class="recover-your-password">Recover your password</h1>
                </div>
                <div class="enter-the-email-container">
                  <b>Enter the email </b>
                  <span class="that-you-used"
                    >that you used when register to recover your password. You
                    will receive a
                  </span>
                  <b>password reset link.</b>
                </div>
              </div>
              <div class="instance-group">
                <div class="frame-wrapper3">
                  <div class="name-input-inner-wrapper">
                    <div class="name-input-inner">
                      <b class="name2">Email</b>
                      <input class="input-field2" placeholder="|" type="text" />

                      <div class="caption2">
                        <div class="rectangle-parent">
                          <div class="frame-child"></div>
                          <div class="frame-item"></div>
                          <div class="frame-inner"></div>
                        </div>
                        <div class="this-password-is">
                          This password is strong
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="primary-large1">
                  <div class="register-now-group">
                    <div class="register-now1">Send Link</div>
                    <img
                      class="arrow-forward-icon1"
                      alt=""
                      src="{% static 'assets/images/public/arrow-forward.svg' %}"
                    />
                  </div>
                </button>
              </div>
              <div class="assistance-content-wrapper">
                <div class="assistance-content">
                  <div class="if-you-need">If you need further assistance</div>
                  <div class="menu-wrapper">
                    <div class="menu1">
                      <div class="join-a-community1">
                        Contact our Support Center
                      </div>
                      <div class="menu-divider"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="background-icon1"
          loading="lazy"
          alt=""
          src="{% static 'assets/images/public/rectangle-45@2x.png' %}"
        />
      </section>
      <div class="overlay"></div>
    </div>

    <script>
      var tagsLeftContainer = document.getElementById("tagsLeftContainer");
      if (tagsLeftContainer) {
        tagsLeftContainer.addEventListener("click", function (e) {
          window.location.href = "./login.html";
        });
      }
    </script>
  </body>
</html>