{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/password-change1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="password-change1">
      <section class="frame-section">
        <div class="frame-wrapper4">
          <div class="frame-parent4">
            <div class="frame-wrapper5">
              <div class="tags-left-group">
                <div class="tags-left1" id="tagsLeftContainer">
                  <div class="return-wrapper">
                    <img
                      class="return-icon1"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/return1.svg' %}"
                    />
                  </div>
                  <a class="coming-soon1">Back</a>
                </div>
                <div class="right-content">
                  <div class="logo-container">
                    <img
                      class="logomark-icon1"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/logomark.svg' %}"
                    />

                    <div class="logotype-container">
                      <img
                        class="logotype-icon1"
                        loading="lazy"
                        alt=""
                        src="{% static 'assets/images/public/logotype.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="resend-instructions-parent">
              <div class="resend-instructions">
                <h1 class="do-you-still">
                  Do you still need us to resend the link?
                </h1>
              </div>
              <div class="resend-instructions1">
                <div class="please-allow-60-container">
                  <span>
                    <span
                      >Please, allow 60 seconds for the email to arrive before
                      requesting another</span
                    >
                    <b class="b"> </b>
                  </span>
                  <b class="link">
                    <span>link.</span>
                  </b>
                </div>
              </div>
              <div class="frame-wrapper6">
                <button class="group-button" id="groupButton">
                  <div class="primary-large-container">
                    <div class="primary-large2">
                      <div class="register-now-container">
                        <div class="register-now2">Resend Link</div>
                        <img
                          class="arrow-forward-icon2"
                          alt=""
                          src="{% static 'assets/images/public/arrow-forward.svg' %}"
                        />
                      </div>
                    </div>
                  </div>
                </button>
              </div>
              <div class="frame-wrapper7">
                <div class="if-you-need-further-assistance-parent">
                  <div class="if-you-need1">If you need further assistance</div>
                  <div class="menu-container">
                    <div class="menu2">
                      <div class="join-a-community2">
                        Contact our Support Center
                      </div>
                      <div class="menu-child"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="rectangle-icon"
          loading="lazy"
          alt=""
          src="{% static 'assets/images/public/rectangle-45@2x.png' %}"
        />
      </section>
      <div class="password-change-child"></div>
    </div>

    <script>
      var tagsLeftContainer = document.getElementById("tagsLeftContainer");
      if (tagsLeftContainer) {
        tagsLeftContainer.addEventListener("click", function (e) {
          window.location.href = "./password-change3.html";
        });
      }
      
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./password-change2.html";
        });
      }
    </script>
  </body>
</html>