{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/password-change3.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="password-change3">
      <section class="frame-parent5">
        <div class="frame-wrapper8">
          <div class="frame-parent6">
            <div class="frame-wrapper9">
              <div class="tags-left-parent1">
                <div class="tags-left3" id="tagsLeftContainer">
                  <div class="tags-container">
                    <img
                      class="return-icon3"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/return2.svg' %}"
                    />
                  </div>
                  <a class="coming-soon3">Back</a>
                </div>
                <div class="logo-container-wrapper">
                  <div class="logo-container2">
                    <img
                      class="logomark-icon3"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/logomark1.svg' %}"
                    />

                    <div class="logotype-wrapper1">
                      <img
                        class="logotype-icon3"
                        loading="lazy"
                        alt=""
                        src="{% static 'assets/images/public/logotype1.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="email-info-parent">
              <div class="email-info">
                <div class="email-icon-container">
                  <img
                    class="mail-front-premium-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'assets/images/public/mailfrontpremium@2x.png' %}"
                  />
                </div>
                <b class="weve-sent-you"
                  >We've sent you an email with a link to reset your
                  password.</b
                >
              </div>
              <div class="spam-info">
                <div class="check-your-spam">
                  Check your spam and promotions folder if it doesn't appear in
                  your main mailbox.
                </div>
                <div class="menu-container2">
                  <div class="menu-frame" id="groupContainer">
                    <div class="menu4">
                      <div class="join-a-community4">
                        Didn't receive the email?
                      </div>
                      <div class="menu-divider1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="background-icon2"
          loading="lazy"
          alt=""
          src="{% static 'assets/images/public/rectangle-45@2x.png' %}"
        />
      </section>
      <div class="overlay1"></div>
    </div>

    <script>
      var tagsLeftContainer = document.getElementById("tagsLeftContainer");
      if (tagsLeftContainer) {
        tagsLeftContainer.addEventListener("click", function (e) {
          window.location.href = "./password-change.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./password-change1.html";
        });
      }
    </script>
  </body>
</html>