{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/password-change2.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="password-change2">
      <section class="navigation-container">
        <div class="navigation-item">
          <div class="navigation-sub-item">
            <div class="nested-navigation-item">
              <div class="tags-left-container">
                <div class="tags-left2" id="tagsLeftContainer">
                  <div class="return-instance-container">
                    <img
                      class="return-icon2"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/return1.svg' %}"
                    />
                  </div>
                  <a class="coming-soon2">Back</a>
                </div>
                <div class="logo-container1">
                  <div class="logomark-container">
                    <img
                      class="logomark-icon2"
                      loading="lazy"
                      alt=""
                      src="{% static 'assets/images/public/logomark.svg' %}"
                    />

                    <div class="logotype-frame">
                      <img
                        class="logotype-icon2"
                        loading="lazy"
                        alt=""
                        src="{% static 'assets/images/public/logotype.svg' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="resend-container-parent">
              <div class="resend-container">
                <div class="do-you-still-need-us-to-resend-parent">
                  <h1 class="do-you-still1">
                    Do you still need us to resend the link?
                  </h1>
                  <div class="please-allow-60-container1">
                    <span
                      >Please, allow 60 seconds for the email to arrive before
                      requesting another</span
                    >
                    <b> link.</b>
                  </div>
                </div>
              </div>
              <div class="alert-container">
                <div class="alerts">
                  <div class="register-button">
                    <div class="success-wrapper">
                      <img
                        class="success-icon"
                        alt=""
                        src="{% static 'assets/images/public/success.svg' %}"
                      />
                    </div>
                    <input
                      class="your-message-is"
                      placeholder="We have sent you another link"
                      type="text"
                    />
                  </div>
                </div>
                <div class="primary-large3">
                  <div class="register-now3">Resend Link</div>
                  <img
                    class="arrow-forward-icon3"
                    alt=""
                    src="{% static 'assets/images/public/arrow-forward.svg' %}"
                  />
                </div>
                <div class="assistance-container">
                  <div class="if-you-need-further-assistance-group">
                    <div class="if-you-need2">
                      If you need further assistance
                    </div>
                    <div class="menu-container1">
                      <div class="menu3">
                        <div class="join-a-community3">
                          Contact our Support Center
                        </div>
                        <div class="menu-item"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="navigation-container-child"
          loading="lazy"
          alt=""
          src="{% static 'assets/images/public/rectangle-45@2x.png' %}"
        />
      </section>
      <div class="password-change-item"></div>
    </div>

    <script>
      var tagsLeftContainer = document.getElementById("tagsLeftContainer");
      if (tagsLeftContainer) {
        tagsLeftContainer.addEventListener("click", function (e) {
          window.location.href = "./password-change3.html";
        });
      }
    </script>
  </body>
</html>