.return-icon1 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}
.return-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.coming-soon1 {
  text-decoration: none;
  position: relative;
  line-height: 1.75rem;
  color: inherit;
  display: inline-block;
  min-width: 2.313rem;
}
.tags-left1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logomark-icon1 {
  height: 3.631rem;
  width: 3.494rem;
  position: relative;
}
.logotype-icon1 {
  align-self: stretch;
  height: 1.306rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logotype-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base-3);
}
.logo-container {
  width: 14.338rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg-9);
}
.right-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-wrapper5,
.tags-left-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tags-left-group {
  width: 29.65rem;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
}
.do-you-still {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.resend-instructions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--display-d5-size);
}
.b,
.link,
.resend-instructions {
  color: var(--white-bg-white-bg-2);
}
.please-allow-60-container {
  flex: 1;
  position: relative;
  line-height: 1.75rem;
  display: inline-block;
  max-width: 100%;
}
.resend-instructions1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.register-now2 {
  position: relative;
  font-size: var(--base-base-text-size);
  line-height: 1.75rem;
  font-family: var(--xs-xsmall-text);
  color: var(--black-bg-black-bg-3);
  text-align: left;
  display: inline-block;
  min-width: 5.688rem;
}
.arrow-forward-icon2 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  display: none;
}
.primary-large2,
.register-now-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.register-now-container {
  gap: var(--gap-5xs);
}
.primary-large2 {
  align-self: stretch;
  background: linear-gradient(96.52deg, gold, #ffeb80);
  padding: var(--padding-xs) var(--padding-xl);
}
.primary-large-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper6,
.group-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
}
.frame-wrapper6 {
  align-self: stretch;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.if-you-need1,
.join-a-community2 {
  align-self: stretch;
  position: relative;
  line-height: 1.75rem;
}
.menu-child {
  width: 0.063rem;
  height: 0.125rem;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--primary-primary600);
  opacity: 0;
}
.menu2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.if-you-need-further-assistance-parent,
.menu-container,
.menu2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  color: var(--white-bg-white-bg-3);
}
.if-you-need-further-assistance-parent {
  width: 13.5rem;
  flex-direction: column;
}
.frame-wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
}
.resend-instructions-parent {
  width: 27.438rem;
  align-items: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  color: var(--dark-text-dark-text-100);
}
.frame-parent4,
.frame-wrapper4,
.resend-instructions-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-84xl-9);
}
.frame-wrapper4 {
  width: 34.75rem;
  align-items: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  min-width: 34.75rem;
}
.rectangle-icon {
  height: 51.25rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 28.625rem;
}
.frame-section {
  width: 88.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-118xl);
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--base-base-text-size);
  color: var(--white-bg-white-bg-1);
  font-family: var(--xs-xsmall-text);
}
.password-change-child {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  backdrop-filter: blur(13px);
  background-color: var(--color-gray-100);
  flex-shrink: 0;
}
.password-change1 {
  width: 100%;
  height: 51.25rem;
  position: relative;
  background-color: var(--black-bg-black-bg-3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2191xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-wrapper4 {
    flex: 1;
  }
  .frame-section {
    flex-wrap: wrap;
    gap: var(--gap-49xl);
  }
  .password-change1 {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .do-you-still {
    font-size: var(--font-size-7xl);
    line-height: 2.375rem;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent4 {
    gap: var(--gap-33xl);
  }
  .frame-wrapper4,
  .rectangle-icon {
    min-width: 100%;
  }
  .frame-section {
    gap: var(--gap-15xl);
  }
  .password-change1 {
    gap: var(--gap-1086xl);
  }
}
@media screen and (max-width: 450px) {
  .do-you-still {
    font-size: var(--font-size-lgi);
    line-height: 1.813rem;
  }
  .frame-parent4 {
    gap: var(--gap-7xl);
  }
  .frame-section {
    gap: var(--gap-mid);
  }
  .password-change1 {
    gap: var(--gap-533xl);
  }
}
