.return-icon3 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}
.tags-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.coming-soon3 {
  text-decoration: none;
  position: relative;
  line-height: 1.75rem;
  color: inherit;
  display: inline-block;
  min-width: 2.313rem;
}
.tags-left3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logomark-icon3 {
  height: 3.631rem;
  width: 3.35rem;
  position: relative;
}
.logotype-icon3 {
  align-self: stretch;
  height: 1.306rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logotype-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base-3);
}
.logo-container2 {
  width: 13.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.131rem;
}
.logo-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-wrapper9,
.tags-left-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tags-left-parent1 {
  width: 26.388rem;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.frame-wrapper9 {
  align-self: stretch;
  flex-direction: row;
}
.mail-front-premium-icon {
  height: 5.438rem;
  width: 5.438rem;
  position: relative;
  object-fit: cover;
}
.email-icon-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.weve-sent-you {
  align-self: stretch;
  position: relative;
  line-height: 1.875rem;
}
.email-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-5xl);
}
.check-your-spam {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
}
.join-a-community4,
.menu-divider1 {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.join-a-community4 {
  width: 11.188rem;
  top: 0;
  line-height: 1.75rem;
  display: inline-block;
}
.menu-divider1 {
  width: 0.063rem;
  height: 0.125rem;
  top: 1.875rem;
  border-radius: var(--br-lg);
  background-color: var(--primary-primary600);
  opacity: 0;
}
.menu-frame,
.menu4 {
  justify-content: flex-start;
}
.menu4 {
  height: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-11xs);
}
.menu-frame {
  width: 11.188rem;
  flex-direction: row;
  cursor: pointer;
}
.menu-container2,
.menu-frame,
.spam-info {
  display: flex;
  align-items: flex-start;
}
.menu-container2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--base-base-text-size);
  color: var(--white-bg-white-bg-3);
}
.spam-info {
  margin-left: -0.5rem;
  width: 22.813rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 105%;
  flex-shrink: 0;
  font-size: var(--small-small-text-bold-size);
  color: var(--white-bg-white-bg-1);
}
.email-info-parent {
  width: 21.875rem;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-21xl) 0 10.937rem;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--small-large-large-text-bold-size);
  color: var(--white-bg-white-bg-2);
}
.email-info-parent,
.frame-parent6,
.frame-wrapper8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-44xl-9);
}
.frame-wrapper8 {
  width: 29.188rem;
  align-items: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  min-width: 29.188rem;
}
.background-icon2 {
  width: 44rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frame-parent5 {
  width: 88.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--base-base-text-size);
  color: var(--white-bg-white-bg-1);
  font-family: var(--xs-xsmall-text);
}
.overlay1 {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  backdrop-filter: blur(13px);
  background-color: var(--color-gray-100);
  flex-shrink: 0;
}
.password-change3 {
  width: 100%;
  height: 51.25rem;
  position: relative;
  background-color: var(--black-bg-black-bg-3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2191xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .background-icon2,
  .frame-wrapper8 {
    flex: 1;
  }
  .frame-parent5 {
    flex-wrap: wrap;
  }
  .password-change3 {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .email-info-parent {
    padding-top: var(--padding-7xl);
    padding-bottom: 7.125rem;
    box-sizing: border-box;
  }
  .frame-parent6 {
    gap: var(--gap-13xl);
  }
  .frame-wrapper8 {
    min-width: 100%;
  }
  .password-change3 {
    gap: var(--gap-1086xl);
  }
}
@media screen and (max-width: 450px) {
  .weve-sent-you {
    font-size: var(--base-base-text-size);
    line-height: 1.5rem;
  }
  .spam-info {
    gap: var(--gap-base);
  }
  .email-info-parent {
    gap: var(--gap-xl);
  }
  .password-change3 {
    gap: var(--gap-533xl);
  }
}
